.container {
  width: 50%;
  padding: 0.2em;
}

.video {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 250ms ease-in;
  border: 1px solid lightgrey;
  box-shadow: 9px 9px 10px 2px rgba(0, 0, 0, 0.67);
  margin: 0.2rem;
}

.video:hover {
  transform: scale(1.02);
}

.metadata {
  margin-left: 0.2em;
}

.thumbnail {
  width: 40%;
  height: 100%;
}

.title,
.channel {
  margin: 0;
  font-size: 0.8rem;
}

.channel {
  font-size: 0.6rem;
}
